body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}
a{
    text-decoration: none;
}

/*===================
        header
===================*/
header{
    width: 100%; /* 幅100%に表示 */
    height: 65px; /* 高さ*/
    background-color: rgba(2, 2, 32, 0.7); /*rgb&透過度*/
}
.header-container{
    padding: 100px 0; /* ボーダー内側余白:上+下 右+左 */
    margin: 0 auto; /* 中央寄せ */
}
.header-left{
      float: left; /* 左寄せ */
}

.header-right{
      float: right; /* 右寄せ */
      margin-right: 25px;
}
.header-right a{
    float: left;
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    transition: all 0.5s; /*色が変わるまで0.5sの遅延*/
}
.header-right a:hover{ /*aにカーソルが乗っている場合*/
    background-color: rgba(255,255,255,0.3);
}

/*==================
        body
==================*/
.top{
      padding: 80px 0 100px 0; /* 上,右,下,左 */
      margin: 0 auto;
      width: 100%;
      background-image: url(yani.jpg); /* 背景画像 */
      background-size: cover; /* 背景画全画面表示 */
      color: white; /* 字の色 */
      text-align: center; /* テキストを中央揃え */
}

.top h1{
      opacity: 0.7; /* 透過度 */
      font-size: 70px; /* 字のサイズ */
      letter-spacing: 5px; /* 字幅 */
}

.top h1 span{
    font-size: 120px;
}

.top p{
      opacity: 0.7;
      font-size: 30px;
      margin-bottom: 40px; /* ボーダーの外側余白 */
}

.middle{
    color: black;
}

.middle-container{
    flex-wrap: wrap;
}

.middle-heading{
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
}

.self-picture{
    margin: 20px 25px;
    width: 50%;
}
.self-introduce{
    width: 50%;
    font-size: 25px;
    text-align: left;
    float: right;
    margin-right: 50px;
    padding: 0 50px 0 0;
    border: 5px solid rgba(20, 20, 20, 0.8);
}

.under-container{
    margin: 0 auto;
    text-align: center;
}

.btn-review{
  padding: 8px 24px;
  color: rgba(0,255,127,0.8);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 7px #1a7940; /* ボタンの下に指定色の影 */
  text-align: center;
}

.message:active{ /*  */
    position: relative;
    top: 7px;
    box-shadow: none;
}

.footer-container{
    text-align: center;
    float: left;
    font-size: 16px;
}