body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}
a{
    text-decoration: none;
}

/*===================
        header
===================*/
header{
    width: 100%; /* 幅100%に表示 */
    height: 65px; /* 高さ*/
    background-color: rgba(72,61,139,0.7); /*rgb&透過度*/
}
.header-container{
    padding: 0 0; /* ボーダー内側余白:上+下 右+左 */
    margin: 0 auto; /* 中央寄せ */
}
.header-left{
      float: left; /* 左寄せ */
}

.header-right{
      float: right; /* 右寄せ */
      margin-right: 25px;
}
.header-right a{
    float: left;
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    transition: all 0.5s; /*色が変わるまで0.5sの遅延*/
}
.header-right a:hover{ /*aにカーソルが乗っている場合*/
    background-color: rgba(255,255,255,0.3);
}

/*==================
        body
==================*/
.top{
      padding: 100px 0 100px 0; /* 上,右,下,左 */
      margin: 0 auto;
      width: 100%;
      background-image: url(yani.jpg); /* 背景画像 */
      background-size: cover; /* 背景画全画面表示 */
      color: white; /* 字の色 */
      text-align: center; /* テキストを中央寄せ */
}

.top h1{
      opacity: 0.7; /* 透過度 */
      font-size: 90px; /* 字のサイズ */
      letter-spacing: 5px; /* 字幅 */
}

.top p{
      opacity: 0.7;
      font-size: 40px;
      margin-bottom: 40px; /* ボーダーの外側余白 */
}

.middle{
    color: black;
}

.middle-heading{
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
}

.self-introduce{
    font-size: 16px;
    text-align: right;
    margin-right: 20px;
    padding: 0 50px 0 0;
}